%p.post--meta
  = post.created_at.strftime("%d.%b %Y")
  = " | Kommentare: #{post.comments_count}"

  - unless post.category_id.nil?
    =link_to resolve_category_by_name(post.category_id), posts_path(:category_id => post.category_id)

  %span
    = link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}" do
      = fa_icon 'facebook-official'