- unless @posts.empty?
  .flexbox--wrapper
    - @posts.each do |post|
      .post-list--item
        %h1
          - if logged_in_as_admin?
            =link_to edit_post_path(post) do 
              = fa_icon "edit"
          = link_to post.title, post_path(post.id)
        

        = render partial: 'meta', locals: { post: post}

        = image_tag post.image_url(:thumb) if post.image?
        = markdown(truncate(post.description, length: 200))

        - if post.description.length > 200
          %b= link_to 'Hier weiterlesen ...', post_path(post.id)
- else
  #post
    = 'Keine Posts gefunden.'

#pagination.centered= will_paginate @posts, page_links: false
