- unless @posts.empty?
  .flexbox--wrapper
    - @posts.each do |post|
      .post-list--item
        = render partial: 'title_and_subline', locals: { post: post}
        = image_tag post.image_url(:thumb) if post.image?
        
        = markdown(truncate(post.description, length: 275))

        - if post.description.length > 300
          %b= link_to 'Hier weiterlesen ...', post_path(post.id)
- else
  #post
    = 'Keine Posts gefunden.'

#pagination.centered= will_paginate @posts, page_links: false
