/ only index
- unless @posts.nil?
  - @posts.each do |post|
    #post
      = render partial: 'title_and_subline', locals: { post: post}
      = image_tag post.image_url(:thumb) if post.image?
      
      .content
        = markdown(truncate(post.description, length: 275))

        - if post.description.length > 300
          %b= link_to 'Hier weiterlesen ...', post_path(post.id)
- else

  / only monthly archives
  / TODO: rework. Use params
  - date_from_params = DateTime.new(params['year'].to_i, params['month'].to_i, 1).in_time_zone('UTC')
  - @posts_by_month.each do |month_id, posts|
    - if month_id == date_from_params
      - posts.each do |post|
        #post
          = render partial: 'title_and_subline', locals: { post: post}
          .content
            = markdown(truncate(post.description, length: 275))

            - if post.description.length > 300
              %b= link_to 'Hier weiterlesen ...', post_path(post.id)
    - else 
      = 'Keine Beträge gefunden'    

/ #pagination.centered= will_paginate @posts, page_links: false
