%h1
  = link_to post.title, post_path(post.id)
%p.subline
  = post.created_at.strftime("%d.%b %Y")
  = " | Kommentare: "
  =  post.comments_count
  - unless post.category_id.nil?
    = " | In: "
    =link_to resolve_category_by_name(post.category_id), posts_path(:category_id => post.category_id)
  %small.pull-right=link_to "Editieren", edit_post_path(post) if logged_in_as_admin?