.row
  .col-md-4
    .search
      = render partial: 'posts/search_form'
  .col-md-8
    - unless @posts.nil?
      - @posts.each do |post|
        .post
          = render partial: 'title_and_subline', locals: { post: post}

          .post-description
            = markdown(truncate(post.description, length: 275))

            - if post.description.length > 300
              = link_to 'Lesen', post_path(post.id)

    - else
      = 'No Posts Yet'

.row
  .col-md-4
  .col-md-8
    #center-text= will_paginate @posts, page_links: false
