- content_for :sidebar do 
  = render partial: 'layouts/sidebar/search_form'
  .post
    %b="Kategorien"
    %br
    = render partial: 'layouts/sidebar/categories', collection: @categories, as: :category

  .post
    %b="Letzte Posts"
    = render partial: 'layouts/sidebar/recent_posts', collection: @recent_posts, as: :post
- unless @posts.nil?
  - @posts.each do |post|
    .post
      = render partial: 'title_and_subline', locals: { post: post}

      .post-description
        = markdown(truncate(post.description, length: 275))

        - if post.description.length > 300
          = link_to 'Lesen', post_path(post.id)

- else
  = 'No Posts Yet'

.centered= will_paginate @posts, page_links: false
