= fa_icon "copyright"
= 'Christian Adamini 2017'
- unless current_user
  = link_to 'Login', new_user_session_path

%br
- if current_user
  = 'Logged in as:'
  = current_user.email
  = link_to 'Logout', destroy_user_session_path, method: :delete

