%head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %link{:href => "https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans:400,600i", :rel => "stylesheet"}/
  %link{:href => "https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans:400,600i", :rel => "stylesheet"}/

  = stylesheet_link_tag :application, :comments, :navbar
  = javascript_include_tag :application
  = csrf_meta_tag

#logo
  .centered='B:L:O:G:G:I:N:G A:B:O:U:T K:I:D:S'

#navbar.nav
  %ul
    %li=link_to 'Blog', posts_path
    - if current_user && current_user.admin?
      %li= link_to 'Manage Posts', admin_index_path
      %li= link_to 'Create Post', new_post_path
      %li= link_to 'Create Category', new_category_path

.flash_area
  - if flash
    = flash[:notice]
    = flash[:error]


.container-fluid
  .content
    .row
      #main-content.col-md-9
        = yield
      #sidebar.col-md-3.full-height
        = yield(:sidebar)

  .footer
    = render partial: 'layouts/footer'
.background
