%head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  = stylesheet_link_tag :application, :comments, :navbar
  = javascript_include_tag :application
  = csrf_meta_tag

  #wrap
    #navbar.nav.navbar.navbar-fixed-top
      = render partial: 'layouts/navigation'
    .flash_area
      - if flash
        = flash[:notice]
        = flash[:error]

    #container
      = yield

.footer#center-text

  = fa_icon "copyright"
  = 'Christian Adamini 2017'
  %br
    - unless current_user
      = link_to 'Login', new_user_session_path

    - if current_user
      = 'Logged in as:'
      = current_user.email
      = link_to 'Logout', destroy_user_session_path, method: :delete

